/* Stylesheet for Landing Page Project */

/* all header styles */

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: "Times New Roman", sans-serif;
}

/* background color for entire top section */
.top {
    background-color: #1F2937;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    padding: 24px;
    padding-top: 0;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-weight: bold;


    padding-left: 32px;
}

ul {
    display: flex;
    justify-content: right;
    gap: 16px;
    list-style-type: none;
    padding-right: 16px;

    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}


/* content directly below header styles */
.header-content {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0px;
    padding-bottom: 52px;
    margin: 0;
}

.title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;

    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    display: flex;
    background-color: #3882F6;
    max-width: 100px;
    justify-content: center;
    color: white;
    border: 0;
    padding: 6px 12px;
    border-radius: 15px;
    font-weight: bold;
}

.header-content .header-image {
    display: flex;
    margin: 3vh;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

div.header-content p {
    color: white;
}

/* white-space and cards styles */

.content-container {
    padding: 150px;
    padding-top: 32px;

    display: flex;
    flex-direction: column;
}

.content-header {
    text-align: center;
    font-weight: bold;
    font-size: 32px;

    padding-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;

}


.card-image {
    border: solid #3882F6;
    border-width: 1px;
    border-radius: 15px;
    
    min-width: 14vh;
    min-height: 18vh;
    margin-bottom: 12px;


    padding: 32px 18px;
}

.card {
    border-color: #3882F6;
    border: 16px;
    text-align: center;
    color: grey;

}



/* Quote panel styles*/

.quote-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: left;
    padding: 150px;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    padding: 0;
    font-size: 36px;
    font-style: italic;

    margin: 0 82px;
}

.attribution {
    font-weight: bold;
    align-self: flex-end;
}

/* action box styles */

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 32px;

}

.action {
    display: flex;
    padding: 4vh 10vh;
    max-width: 80vh;

    gap: 62px;

    border-radius: 15px;
    background-color: #3882F6;
    color: white;
}

.action-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    padding-right: 24px;
}

.action-header {
    font-weight: bold;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    color: white;

    background-color: #3882F6;
    border-radius: 15px;
    border: solid white;
}

/* footer styles */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 24px;
    font-size: 16px;
}