/* Stylesheet for Landing Page Project */

/* all header styles */

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: "Times New Roman", sans-serif;
}

/* background color for entire top section */
.top {
    background-color: #1F2937;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    padding: 24px;
    padding-top: 0;
}

.header-logo {
    display: flex;
    color: white;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: right;
    gap: 16px;
    list-style-type: none;
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: white;
}


/* content directly below header styles */
.header-content {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 24px;
    margin-left: 24px;
}

.sign-up-button {
    display: flex;
    background-color: #3882F6;
    max-width: 200px;
    justify-content: center;
    color: white;
    border: 0;
    padding: 6px;
    border-radius: 15px;
}

.header-content .header-image {
    display: flex;
    margin: 24px;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: 15px;
}

div.header-content p {
    color: white;
}

/* white-space and cards styles */

.content-container {
    padding: 100px;
}

.content-header {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}


.card-image {
    border: solid blue;
    border-width: 1px;
    border-radius: 15px;


    padding: 52px;
}

.card {
    border-color: #3882F6;
    border: 16px;
    text-align: center;
    color: grey;

    flex: 0 1 24%;
}



/* Quote panel styles*/

.quote-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 52px;
    background-color: lightgrey;
}

.quote {

    font-size: 24px;
}

.attribution {
    font-weight: bold;
    align-self: flex-end;
}

/* action box styles */

.action-container {
    padding: 32px;
}

.action {
    border-radius: 15px;
    background-color: #3882F6;
    color: white;
}

.action.header {
    padding: 0;
    margin: 0;
}

.action.text {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: 0;
    padding: 0;
    justify-content: left;
}

/* footer styles */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 24px;
    font-size: 16px;
}